{% extends "blog/base.html" %}

{% block content %}
<style>

    .container {
        padding: 15px;
    }

    h1 {
        text-align: left;
        margin-top: 20px;
    }

    .contact-info {
        margin-top: 20px;
        color: black;
    }

    .contact-info p {
        margin-bottom: 10px;
    }

    .social-links {
        margin-top: 20px;
    }

    .social-links a {
        display: inline-block;
        margin-right: 10px;
        color: #007bff;
        text-decoration: none;
    }

    .social-links a:hover {
        text-decoration: underline;
    }
</style>

<div class="container">
    <h1>Contact</h1>
    <div class="contact-info">
        <p>Thank you for visiting my website! If you have any feedback, questions, or suggestions, I would love to hear from you.</p>
        <p>Please feel free to reach out to me using the contact details below:</p>
        <p>Email: priyansh22csu230@ncuindia.edu</p>
        <p>LinkedIn: <a href="https://www.linkedin.com/in/your-profile">linkedin.com/in/your-profile</a></p>
        <p>GitHub: <a href="https://github.com/your-username">github.com/your-username</a></p>
    </div>
</div>
{% endblock content %}
